@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Mono');

nav{
    font-family: Arial;
}

.footer-copyright{
	background-color: #CCCCCC;
}

body{
    margin:0px;
    padding:0px;
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
}