{% extends 'home_base.html' %}

{% block title %}College Admission Calculator{% endblock %}

{% block styling %}
    <style>
    @import url('https://fonts.googleapis.com/css?family=Merriweather:300|Montserrat:300');
	
	 .overview{
		font-size: calc(0.5vw + 0.8em);
		margin: 20px;
	 }
	 
	 .big_text{
		color: white;
		font-size: calc(2vw + 1.2em);
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
	 }
	 
	 .small_text{
		color: white;
		font-size: calc(0.6vw + 1em);
		font-family: 'Montserrat', sans-serif;
	 }
    </style>
	
{% endblock %}

{% block content %}
      <!-- Full Page Intro -->
      <div class="view" style="background-image: url('{{board_img}}'); background-repeat: no-repeat; background-position: center center;">
		  <div class="container">
		  
		  <div class="row py-5">
		  <div class="col-lg-12 text-center">
		  <p class="big_text">Powerful College Technology</p>
		  <p class="small_text">Use this data-driven and AI-powered tool to predict your chances of acceptance to your dream college (optimized for Ivies, MIT, Stanford, and others)! Get valuable feedback on your academic profile, extracurriculars, and awards.</p>

		  </div>
      </div>
		  <div class="row pb-5">
		  <div class="col-lg-12 text-center">
		  <a href="register"><button type="button" class="btn btn-outline-light btn-lg">Register</button></a>
		  <a href="login"><button type="button" class="btn btn-outline-light btn-lg">Log In</button></a>
		  </div>
      </div></div>
		
		  </div>
      </div>
      </div>

	  <div class="container">
		  <div class="row">
			  <div class="col-md-12 overview">
				  <p>Since the creation of the Common App in 1975, students can apply to more colleges than ever. For this reason, acceptance rates at many colleges in the United States, especially for the top institutions, have dropped significantly. For example, Stanford’s acceptance rate dropped from 18% to about 4% in just 40 years. 
					  <br><br>
					  In such an unpredictable and increasingly holistic college application cycle, many ambitious and high achieving students find it challenging if not impossible to evaluate their own application and have a realistic idea of where they will end up. Additionally, high school students struggle to decide what they should do with their time. Is it better to study more for the SAT Subject Tests or volunteer? Try to get a national award or take another AP class?
					  <br><br>
					  This platform attempts to answer these and other questions that you or your child may have. Using data from hundreds of student application from only the most recent years, our service uses a AI-powered neural network to make accurate predictions on whether a given student has a realistic chance to get into a certain “tier” or group of colleges with similar selectivity and prestige. 
					  <br><br>
					  Additionally, our award and extracurricular activity evaluators analyze each activity you have and each award that you have earned. You will get personalized feedback on your leadership, impact, and time commitment!
					  <br><br>
					  In the aftermath of the college admissions, it is important for honest and ambitious students to have the resources to craft the perfect college application. It is time to take your education into your own hands!
				  </p>
			  </div>
		  </div>
	  </div>
{% endblock %}