<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/analyze?n=0">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/analyze?n=1">Tier 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/analyze?n=2">Tier 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/analyze?n=3">Tier 3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/analyze?n=4">Tier 4</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/analyze?n=5">Extracurriculars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/analyze?n=6">Awards</a>
  </li>
</ul>